@import '@styles/media-queries';

.titleContainer {
  text-align: center;
  margin-bottom: 40px;
  .title {
    font-size: 50px;
  }
  .subtitle {
    padding: 10px 0 20px;
    font-size: 20px;
    border-bottom: 1px solid #bbbbbb;
    width: 30%;
    margin: 0 auto;
    min-width: 280px;
  }
}
.root {
  padding: 50px 0;
  color: #fff;
  background-color: #000;
}

.spinner {
  display: flex;
  justify-content: center;
  width: 100%;
  svg {
    width: 30px;
    animation: spin 0.7s infinite linear;
  }
}

@keyframes spin {
  from {
    transform: none;
  }

  to {
    transform: rotate(360deg);
  }
}
